.mole{
    height: 50px;
    width: 50px;
}

.filled{
    background-color: green;
    background-image: url("../assets/mole.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.empty{
    background-color: green;
    background-image: url("../assets/hole.png");
    background-repeat: no-repeat;
    background-size: contain;
}