.hoverContainer {
  position: relative;
  display: inline-block;
}

.hoverModal {
  position: absolute;
  top: 100%;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}
