.background{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    background-image: url('./assets/question-marks.gif');
    background-repeat: repeat;
    background-size: 5% 5%;
    background-position: center;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;
    height: 30%;
    border-radius: 20px;
    background: linear-gradient(to bottom, white, darkgray);
    padding: 50px;
    justify-content: space-between;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: left;
    clear: left;
}

.displayDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    padding: 10px;
    height: 230px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.input{
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 300px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: azure;
    margin: 10px auto;
}

.button{
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 200px;
    background-color: black;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.button:hover{
    background-color: white;
    color: black;
}

.homeButton {
  align-self: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid white;
}

.homeButton:hover{
  background-color: white;
  color: black;
}